.email-input
	width 685px
	border 2px solid #d9dcee
	color bg-colors
	font-family bebas
	font-size 30px
	background-color transparent
	padding 22px
	text-align center
	
	&::-webkit-input-placeholder
		color bg-colors
