.selection
	padding-y(138px, 4px)
	text-align center
	
	
	&__title
		margin-bottom 72px
		
	&__subtitle
		padding-x(328px)
		margin-bottom 182px
		
	&__list
		display flex
		justify-content space-around
		flex-wrap wrap
		
	&__item
		width 344px
		margin-x(57px)
		margin-bottom 135px
		
		& .foot__icon
			margin-bottom 51px
			
		& .heading
			margin-bottom 64px
			
		& .disc
			margin-bottom 74px
