.subrscribe
	padding-y(137px, 150px)
	text-align center
	background-color #2b2826 
	background-image url(../images/subrscribe__bg.jpg) 
	background-repeat no-repeat
	background-repeat center
	
	& .subrscribe__title
		margin-bottom 84px
		color bg-colors
	
	&__email
		margin-bottom 77px
		
	&__btn
		background-color selected-color
		color bg-colors
		border 1px solid selected-color