.breakfast
	width 100%
	display flex
	justify-content space-between
	background-color selected-color
	
	&__header
		color bg-colors
		font-family playfairDisplay
		font-size 72px
		font-weight 700
		font-style italic
		line-height 1.14
		padding 7%
		
	&__picture
		width 100%
