.header
	background-image: url(../images/bg__header.jpg)
	background-repeat: no-repeat
	background-size: cover
	min-height: 1322px
	text-align center

	&__nav
		margin-bottom 349px

	&__title
		margin-bottom 51px

	&__subtitle
		margin-bottom 77px
		padding-x(370px)

	&__btn
		margin-bottom 50px


