.menu
	text-align center
	padding-y(132px,142px)
	
	&__title
		margin-bottom 72px
		
	&__subtitle
		margin-bottom 101px
		padding-x(328px)
		
	&__btns
		margin-bottom 140px
	
	&__list
		display flex
		justify-content space-between
		
	&__item
		width 260px
		margin-top 53px
		
		&_active
			width 362px
			margin-top 0
		
	&__toggle
		margin-right 59px
		
		&:last-child
				margin-right 0
		&_active
			background-color selected-color
			border 2px solid
			color bg-colors
			
	&__btn
		margin-top 65px
		
	&__price
		margin-y(39px,53px)
		
	&__heading
		color #3a3a3a
		font-size 24px